*,
html{
    margin:0;
    padding:0;
}

.logo{
    position:absolute;
    display: flex;
    width: 80%;
    height: 80%;
    margin-top: 15px;
    margin-left: 130px;
}

#searchBar{
  position: absolute;
  width: 155%;
  height: 30%;
  margin-top: 30px;
  margin-left: 450px;
  border-radius: 20px;
  padding-left: 20px;
}

a{
    text-decoration:none;
    color: black;  
    transition: 0.3s ease-in-out;
  }
  
  a>div:hover{
      color: white;
      
  }

.container-navbar {
    background: rgb(138, 235, 255);
    z-index: 6;
    width: 100%;
    height: 15vh;
    position:absolute;
}

.ul-navbar {
    position: absolute;
    display: flex;
    height: 100px;
    margin-top:15px;
    margin-left: 200px;

}

.li-navbar {
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    margin: 5px;

    color: black;
    text-decoration:100px solid;
    font-size: 30px;
}

.kacaPembesar{
  position: absolute;
  width: 25%;
  z-index: 6;
  height: 25%;
  margin-left: 84%;
  margin-top: 45px;


  display: flex;
}

.transportasi{
    margin-top: 150px;
}

*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #111010;

  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
 
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  
  &::-ms-expand {
    display: none;
  }

 
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

 
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  
  &:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 1em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}


select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;

  
  height: 6rem;

  option {
    white-space: nowrap;

   
    outline-color: var(--select-focus);
  }

 
 
}

.select--disabled {
  cursor: not-allowed;
  background-color: #fffafa;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  grid-gap: 0.5rem;
  font-family: "Baloo 2", sans-serif;
  background-color: #ffffff;

}
a{
  text-decoration:none;
  color: black;
  transition: 0.3s ease-in-out;
}

a>div:hover{
    color: white;

}

  .form-submit-button {
    text-align: center;
    background: #cceaef;
    color: #0d0d0d;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }
  
  .form-submit-button:hover {
    text-align: center;
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
  }
  
